# Maven
target/
!.mvn/wrapper/maven-wrapper.jar

# Vaadin arquivos gerados
src/main/frontend/generated/
node_modules/
package-lock.json
package.json
pnpm-lock.yaml
vite.config.ts
vite.generated.ts

# IDE
.idea/
*.iml
.vscode/

# OS
.DS_Store
